<h1>Showing todo</h1>
<div><%= @todo.title %></div>
<div><%= @todo.task %></div>
<div><%= @todo.completed? %></div>
<div><%= link_to "delete", @todo, method: :delete,
  data: {confirm: "Are you sure?"} %></div>
